.button {
    padding: 5px 20px;
    border-radius: 2px;
    border: none;

    color: white;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 12pt;

    cursor: pointer;

    transition: all 100ms;
}

.button:active {
    border-radius: 5px;
}