.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #6a2c70;
    color: white;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 22px;

    margin-left: 15px;
}

.items {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.item:nth-child(2n + 1) {
    margin-right: 30px;
}
