.card {
    height: 235px;
    width: 170px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f7f8;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.first-avatar-circle {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    border: solid 2px #6a2c70;

    display: flex;
    justify-content: center;
    align-items: center;
}

.second-avatar-circle {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: dashed 2px #6a2c70;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
}

.name {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.first-name {
    color: #6a2c70;
    margin-right: 5px;
}

.last-name {
    color: #6a2c70;
    font-weight: 600;
    text-transform: uppercase;
}

.statut {
    margin-top: 15px;
    font-size: 12px;
    padding: 4px 10px;
    background-color: rgba(172, 170, 170, 0.158);
    border-radius: 10px;
}

.actions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}