.text-editor {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(56, 56, 56, 0.815);
    margin-bottom: 3px;
}

.input {
    padding: 7px 12px;
    background-color: rgb(238, 238, 238);

    border: 1px rgb(134, 134, 134) solid; 
    border-radius: 2px;

    transition: all 300ms;
}

input:focus {
    border: 1px #6a2c70 solid;
    box-shadow: 0px 0px 4px 1px #6a2c70;
}