.users-content {
    width: 100%;
    height: calc(100vh - 50px);
}

.filters {
    height: 70px;
    width: 100%;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
}

.user {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}