.users-creation-content {
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    height: 420px;
    width: 500px;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.title-form {
    color: #6a2c70;
    font-weight: 500;
    margin-bottom: 20px;
}

.dbl-fields {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.field {
    width: 80%;
    margin-top: 10px;
}

.genre {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.genre label {
    margin-right: 20px;
}

.genre input {
    margin-right: 5px;
}

.btn-valider {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}